<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="flex flex-col  min-h-screen p-4 bg-gray-800">
    <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('about')}}" class="active">About</a></li>
          <li><a href="{{url_for('projects')}}">Projects</a></li>
        </ul>
      </nav>

    <div  id="about" class="container">
        <span id="aboutme">About Me</span>
        <hr class="vertical-line">
        <p>Hello! I'm Swapnil, currently in my third year of pursuing a BTech at United University, with a major focus on computer science. My passion for technology has driven me to delve deep into the fields of DevOps and cybersecurity, where I enjoy the challenge of creating efficient systems and ensuring robust security.
    <br><br>
        I am highly motivated by the rapidly evolving tech landscape, which fuels my curiosity and desire to stay ahead of the curve. Whether it's mastering the latest tools in DevOps, understanding complex cybersecurity protocols, or exploring new programming languages, I'm always eager to learn and grow.</p>
    
    
    </div>
</body>
</html>