<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Base</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body class="flex flex-col  min-h-screen p-4">

    <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{url_for('index')}}" class="active">Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
          <li><a href="{{url_for('projects')}}">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="container" id="home">
        <div class="cont-text">
            <span id="name">Swapnil</span>
            <div class="animated-text">
                I'm a <span></span>
            </div>
        </div>
    </div>


</body>
</html>

