<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp Message</title>
</head>
<body>
    <h2>Send Whatsapp</h2>
    <form action="/wth" method="POST">
        <label for="to">To:</label><br>
        <input type="text" id="to" name="to" required><br><br>
        <label for="body">Msg:</label><br>
        <textarea id="body" name="body" rows="10" cols="30" required></textarea><br><br>
        <input type="submit" value="Send Whatsapp">
    </form>
</body>
</html>

